html {
  font-size: 20px;
}
body{
  font-family: "Arial", "Meiryo", "sans-serif";
  text-align: center;
}
#title{
  border-bottom: solid 3px rgb(115, 115, 114);
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 5px gray;
}
.M{
  color: skyblue;
}
.P{
  color: rgb(255, 192, 203);
}
#basic{
  font-weight: bold;
}
.pink{
  color: rgb(255, 192, 203);
}
.blue{
  color: skyblue;
}